@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu", sans-serif;
  background-color: #00101d;
}
body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
code {
  font-family: "Ubuntu", sans-serif, monospace;
}

* {
  margin: 0;
  padding: 0;
}

.flex-with-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-bold {
  font-weight: bold;
}

.n-box1 {
  background: linear-gradient(145deg, #00101d, #001322);
  box-shadow: 5px 5px 0px #00070d, -5px -5px 0px #001d33;
}

.n-box2 {
  border-radius: 50px;
  background: #00070d;
  box-shadow: 5px 5px 0px #fff, -5px -5px 0px #fff;
  color: white;
}

.white {
  color: white;
}
